<h2 class="tab">walker</h2>
<form [formGroup]='walkerService.walkerForm' (ngSubmit)="onSubmit()">

  <div class="grid">
    <div class="grid-item one">
      <app-walker-create [firstName]='firstName' [address]='walkerService.walkerForm'></app-walker-create>
    </div>
    <div class="grid-item two">
      <app-walker-bio [bioform]='walkerService.walkerForm'></app-walker-bio>
      <div class="move-down">
        <button mat-button class="blue-button" type="submit">submit</button>
        <button class="white-blue-button" style="border: 1px solid #0075be; margin-left: 15px;" type='button' routerLink='/dashboard' mat-button>next</button>
      </div>
    </div>
  </div>


</form>
