.tab {
  background-color: #0075be;
  text-align: center;
  color: white;
  font-size: 1.8rem;
  font-family: Roboto;
  margin: 0;
  padding-bottom: 5px;
  width: 200px;
}

.grid {
  display: grid;
  grid-template-columns: 1em 1fr 1fr 1em;
  width: 100%;
  grid-gap: 30px;
  grid-template-rows: auto auto auto;
}

.one {
  grid-column: 2/3;
}

.two {
  grid-column: 3/4;
  /* grid-row: 1/2;  */
}

.move-down {
  margin-top:20px;
}
