<h2 class="tellUs">Review your walker!</h2>
<p class="ptext">We'll need a few details about your pet.  You may add a bio with important information to help us take care of your dog.  Add a photo link from your social media if you like.</p>

<div class="walker-form">
    <mat-form-field>
        <input matInput placeholder="Your walker's name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Title of review">
    </mat-form-field>
    <mat-form-field>
            <input matInput placeholder="Add your dog's photo URL">
    </mat-form-field>
    <mat-form-field>
            <input matInput placeholder="Write your review">
    </mat-form-field>    
</div>
<div>
        <button class="red-button" mat-button>submit</button>
        <button class="white-button" mat-button>cancel</button>
</div>
