<h1 class="blue-tab">review your walker</h1>
<p class="ptext">Please take a moment to rate your walker's performance. Add a photo link of your dog from your social media if you like.</p>

<div class="form-container">
<div>
    <mat-form-field>
      <input class="same-line-fields-1" matInput placeholder="Your walker's name">
    </mat-form-field>
    <mat-form-field>
      <input class="same-line-fields-2" matInput placeholder="Title of review">
    </mat-form-field>
    <mat-form-field>
      <input class="same-line-fields-3" matInput placeholder="Add your dog's photo URL">
    </mat-form-field>
  </div>
  <mat-form-field>
    <textarea matInput placeholder="Write your review"></textarea>
  </mat-form-field>
</div>
<div>
  <button class="blue-button" mat-button>submit</button>
  <button class="white-blue-button" mat-button>cancel</button>
</div>
