<h2 class="introh2">A community of professional belly scratchers and ball tossers who'll spoil your dog as if it were our own.</h2>
<div class="grid">
  
  <div class="leftDog" *ngIf = 'value===0'> <img src="../../../assets/leftDog.jpg"></div>

  <mat-tab-group mat-align-tabs="center" class="auth" animationDuration="0ms"[(selectedIndex)]="value">
    <mat-tab label="Log In"><app-login></app-login></mat-tab>
    <div class="constrain">
      <mat-tab label="Sign Up"><app-signup></app-signup></mat-tab>
    </div>
    
  
  </mat-tab-group>
  
  <div class="rightDog" *ngIf = "value===1"> <img src="../../../assets/rightDog.jpg"></div>

</div>
  
