  .form-container > * {
    width: 100%;
  }

  .grid{
    display: grid;
    grid-template-columns: 1em 1fr 1fr 1em;
    width: 100%;
    grid-gap: 30px;
    grid-template-rows: auto auto auto;
}
  
.blue-button {
    color: white;
    border: solid 1px #0075be;
    margin-top: 30px;
  
}

.tellUs {
  color:#0075be;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 0px;
}

.white-button {
  border: 1px solid #0075be;
  color: #0075be;
  background-color: white;
  margin: 15px;
}