<div class="form-container">
        <h1 class="bio">Tell us about yourself</h1>
        <p>Please add a short bio here to introduce yourself to everyone.
            You may also add a photo link from your social media account.
        </p>
        <mat-form-field>
                <input formControlName="bio" matInput placeholder="BIO" />
              </mat-form-field>
              
                <mat-form-field>
                  <input formControlName="photourl" matInput placeholder="Add photo URL" />
            </mat-form-field>
  <div>
    <button mat-button class="blue-button" routerLink="/walkerdashboard"type="submit">submit</button>
  </div>
