<h1 class="addressh1">Welcome {{name}}, please create your <span style="font-weight: 800;">dog owner</span> profile.
</h1>
<p class="ptext">
  Please enter your contact information and the location for your walker to meet
  your dog.
</p>
<form [formGroup]="service.form" class="form-container" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input formControlName="street" matInput placeholder="Street" />
    <mat-error>Must supply address</mat-error>
  </mat-form-field>
  <div>
    <mat-form-field class="same-line-fields-1">
      <input formControlName="city" matInput placeholder="City" />
      <mat-error>City is Required</mat-error>
    </mat-form-field>

    <mat-form-field class="same-line-fields-2">
      <mat-select formControlName="state" placeholder="State">
        <ng-container *ngFor="let stateArray of statesArray; index as i">
          <mat-option value="{{ stateArray }}">{{ stateArray }}</mat-option>
        </ng-container>
        <mat-error>Select state is required</mat-error>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="same-line-fields-3">
      <input formControlName="zipcode" matInput placeholder="Zip Code" />
      <mat-error>Zipcode Error</mat-error>
    </mat-form-field>
  </div>

  <mat-form-field>
    <input formControlName="phoneNumber" matInput placeholder="Phone Number" />
    <mat-error>Phone number must have 10 digits</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="picture" matInput placeholder="Add Your Photo URL" />
  </mat-form-field>

  <div class="add-bottom-padding">
    <button mat-button class="red-button" style="height: 40px; margin-top: 15px;" type="submit">submit</button>
    <p class="gray-text animated fadeIn slow" *ngIf="savedData">
      <i class="material-icons">done</i>Data saved</p>

  </div>
</form>
