<h1 class="addressh1">Welcome John, please create your <span style="font-weight:700;">dog owner</span> profile.</h1>
<p class="ptext">Please enter your contact information and the location for your walker to meet your dog.</p>

<div class="address-form">
    <mat-form-field>
        <input matInput placeholder="Address">
    </mat-form-field>
    
    <br>
    
    <mat-form-field>
        <input matInput placeholder="City">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="ST">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Zip">
    </mat-form-field>
    
    <br>

    <mat-form-field>
        <input matInput placeholder="Phone #">
    </mat-form-field>
</div>
