.addressh1 {
    color:#ed1c24;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.2;
 }
 .ptext {
    font-family: Roboto, sans-serif;
 }

.form-container{
    display:flex;
    flex-direction: column;
}

.form-container > * {
    width: 100%;
  }

  .add-bottom-padding{
      /* padding-bottom: 10%; */
      display:flex;
  }

  .same-line-fields-1{
      margin-right:10px;
      width: 60%;
  }

  .same-line-fields-2{
    margin-right:10px;
    width: 15%;
}

.same-line-fields-3{
    margin-right:0px;
    width: 20%;
}
