<h3>A community of professional belly scratchers and ball tossers who'll spoil your dog as if it were our own.</h3>
<form [formGroup]="service.signupForm" class="form-container">
    <mat-form-field>
            <input formControlName="firstname" matInput placeholder="First Name" />
            <mat-error>Must supply first name</mat-error>
    </mat-form-field>
    <mat-form-field>
            <input formControlName="lastname" matInput placeholder="Last Name" />
            <mat-error>Must supply last name</mat-error>
    </mat-form-field>
    <mat-form-field>
            <input formControlName="email" matInput placeholder="Email (Username)" />
            <mat-error>Must supply email</mat-error>
    </mat-form-field>
    <mat-form-field>
            <input formControlName="password" matInput placeholder="Password" />
            <mat-error>Must supply password</mat-error>
    </mat-form-field><br>
    <mat-radio-group aria-label="Choose One">Choose One:
            <mat-radio-button value="1">Dog Owner</mat-radio-button>
            <mat-radio-button value="2">Dog Walker</mat-radio-button>
    </mat-radio-group>  
<div>
    <button class="submit" (click)="onClickMe" mat-button>Submit</button>
</div>
</form>