
mat-radio-button{
    margin-left: 5px;
    }
    
div {
    text-align: center;
    padding-top: 35px;

}

/* .submit {
    border: 1px solid red;
    background-color: red;
    color: white;
    margin: 5px;
} */

.container > * {
    width: 100%;
}

.userType {
    text-align:left;
}