table {
    width: 100%;
}

th {
    background-color: rgb(124, 124, 124);
    color: black;
    font-weight: bold;
}

h1 {
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    font-weight: bold;
}