<div>
  <h2 class="tab">walker</h2>

</div>
<div class='profile-pic'>
  <img class="portrait" src="{{walkerData.pic}}">
  <h3 class="name">{{walkerData.firstName}} {{walkerData.lastName}}</h3>
  <h3 class="starrate">Rating: {{walkerData.rating}}/5</h3>
  <h3 class="tellUs">$15/Walk</h3>
  <p class="ptext">{{walkerData.bio}}</p>

  <button class="blue-button" routerLink="/dashboard" mat-button>
    <div *ngIf="condition; else elseBlock">Contact Me</div>
    <ng-template #elseBlock>Update Profile</ng-template>
  </button>
</div>
