mat-radio-button{
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    }

.pet-form {
    display: flex;
    flex-direction: column;
    }

.leftRadio {
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}



.pet-form > * {
    width: 100%;
    }

.white-button {
    border: 1px solid #ed1c24;
    color: #ed1c24;
    background-color: white;
    margin: 15px;
}

.tellUs {
    color:black;
    font-family: Roboto, sans-serif;
    font-weight: 800;
    line-height: 1.2;
 }
