<div class="walkerCards">
  <div *ngFor="let review of reviewData">
    <div>
      <mat-card class="example-card" style="width: 15rem;">
        <mat-card-header>
          <mat-card-title style="font-size: 24px; margin-left: 0px;">{{review.reviewTitle}}</mat-card-title>
          <mat-card-subtitle style="font-size: 16px; text-align :center; margin-left: 0px; margin-bottom: 5px">
            <i class="material-icons" style="color:#0076BE;">{{review.petIcons}}</i></mat-card-subtitle>

        </mat-card-header>
        <img mat-card-image class="dogpic" src="{{review.petPic}}" alt="Photo of a dog">
        <mat-card-content>
          <p style="font-size: 15px;">
            {{review.review}}
          </p>
          <p style="font-size: 13px; color: rgb(169, 168, 168); ">{{review.dogs}} , age {{review.age}}</p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <div class="spacer">
                  <button mat-button class="white-blue-button" (click)='deleteDog(pet.id)'>remove</button>
                </div> -->
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
